name: Deploy BlueDaisyArtistry

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Create .env File
        run: echo "SITE_URL=${{ secrets.SITE_URL }}" >> .env
      - name: Build Docker Image
        run: docker build -t jacobkustra/blue-daisy-artistry .
      - name: Login To Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish Image To Docker Hub
        run: docker push jacobkustra/blue-daisy-artistry:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull Image From Docker Hub
        run: docker pull jacobkustra/blue-daisy-artistry:latest
      - name: Delete Old Container
        run: docker rm rf blue-daisy-artistry-container
      - name: Run Docker Container
        run: docker run -d -p 3000:3000 --name blue-daisy-artistry-container jacobkustra/blue-daisy-artistry


